#!/usr/bin/env xdg-open
[Desktop Entry]
Version=1.0
Terminal=false
Type=Application
Name=SUAP
Exec=/opt/google/chrome/google-chrome "--profile-directory=Profile 1" --app-id=gabkojdpommkjgaeinpkocmendfcplma
Icon=chrome-gabkojdpommkjgaeinpkocmendfcplma-Profile_1
StartupWMClass=crx_gabkojdpommkjgaeinpkocmendfcplma
