#!/usr/bin/env xdg-open
[Desktop Entry]
Version=1.0
Terminal=false
Type=Application
Name=SEI
Exec=/opt/google/chrome/google-chrome "--profile-directory=Profile 1" --app-id=iaoommfjklldaehegmigfcfghcpgpodk
Icon=chrome-iaoommfjklldaehegmigfcfghcpgpodk-Profile_1
StartupWMClass=crx_iaoommfjklldaehegmigfcfghcpgpodk
