#!/usr/bin/env xdg-open

[Desktop Entry]
Version=1.0
Terminal=false
Type=Application
Name=Twitter
Exec=/usr/bin/google-chrome-stable twitter.com
Icon=chrome-jgeocpdicgmkeemopbanhokmhcgcflmi-Default
StartupWMClass=crx_jgeocpdicgmkeemopbanhokmhcgcflmi
